# ============================================================
#  AssetHub V2 — Environment Variables
#  Salin file ini menjadi ".env.local" dan isi nilainya.
#  Dapatkan nilai dari: https://app.supabase.com → Project Settings → API
# ============================================================

NEXT_PUBLIC_SUPABASE_URL=mmttemjrjxcfkpthwknn
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1tdHRlbWpyanhjZmtwdGh3a25uIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg1NTU4MDAsImV4cCI6MjA5NDEzMTgwMH0.qPR66m48bt2s4xppXkKveFACo8MIUFa4o8n1SGNUt7k
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1tdHRlbWpyanhjZmtwdGh3a25uIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODU1NTgwMCwiZXhwIjoyMDk0MTMxODAwfQ.F_L5dmCEX9f89gdELkkPKEHzbPnldozarwKnKLs0ZNI
